# BEGIN SMART PUSH FAST BRIDGE
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^push/([_0-9a-zA-Z-]+)/?(.*)?$ index.php?smpushcontrol=$1/$2&%{QUERY_STRING}
RewriteCond %{QUERY_STRING} ^smpushcontrol=(get_archive|get_link|go)(.*)$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ wp-content/plugins/smio-push-notification/bridge.php?%{QUERY_STRING} [L]
</IfModule>
# END SMART PUSH FAST BRIDGE
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /almo/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /almo/index.php [L]
</IfModule>

# END WordPress